<div class="page-container">
  <header class="page-header">
    <h1>Privacy Policy</h1>
    <p>thank you for visiting this web site today! it's largely governed by <%= link_to "Hack Club's overarching privacy policy", "https://hackclub.com/privacy-and-terms/", target: "_blank" %>, but i'll be more specific about what we do and don't collect:</p>
  </header>

  <div class="letter">
    <h2>What we store</h2>
    <ul>
      <li><strong>The token you submit</strong> – obviously.<br/><small>After we process the revocation, it's stored in a redacted form<br/>(like "<small><kbd>hcb_Jt6*************************************2Wo</kbd></small>")</small></li>
      <li><strong>Contact info and notes</strong><br/>only if you choose to leave them.</li>
    </ul>

    <h2>What we don't store</h2>
    <ul>
      <li>
        <strong>Your IP address/browser headers</strong><br/>
        <small>(<strong>one exception: </strong>If an error occurs during the submission or revocation process, they may end up in a Sentry error report.)</small>
      </li>
    </ul>

    <h2>Questions?</h2>
    <p>If you have concerns about privacy, please <%= link_to "review the source code", "https://hack.club/gh/revoker", target: "_blank" %> or bother <a href="https://hackclub.slack.com/app_redirect?channel=U09ULFV88KU" target="_blank">nora</a> on Slack. It'll answer to the best of its ability.</p>
    <p class="static-page-updated">Last updated: 2026-01-03</p>
    <p class="static-page-back"><a href="/">← Back</a></p>
  </div>
</div>
